<nav class="navbar navbar-default">
    <div class="navbar-header">
            
            <ul class="nav navbar-nav">
                <li>
                  {{#link-to 'index' class="navbar-brand" }} Home {{/link-to}}        
                </li>
                  <li>
                  {{#link-to 'posts' class="navbar-brand" }} Posts {{/link-to}}        
                </li>
                <li>
                  {{#link-to 'about' class="navbar-brand" }} About {{/link-to}}        
                </li>
            </ul>
            
    </div>
</nav>

{{outlet}}

