<nav class="navbar navbar-default">
    <div class="navbar-header">
            
            <ul class="nav navbar-nav">
                <li>
            {{#link-to 'index' class="navbar-brand" }} Home {{/link-to}}        
                </li>
            </ul>
            
    </div>
</nav>

{{outlet}}

