<h4>This is the index page of posts</h4>

{{#each  model}}

<h4>
{{#link-to 'post' this}}
{{title}}
{{/link-to}}
</h4>
<p>{{description}}</p>


{{/each}}

{{#link-to 'posts.new' class="btn btn-success"}} New post {{/link-to}}
{{outlet}}